h1>Events</h1>

<% if @events%>
<p> <% @events.each do |event| %> 
<div>
<p><strong> Event title: </strong> <%= link_to(event.title, event) %> </p>
<p> <strong> Event location: </strong><%= event.location %> </p>
<p> <strong> Created at: </strong><%= event.created_at %> </p>

  <ul class="events upcoming_events">
    <%= render @events.upcoming %>
  </ul>

<h3>Past Events</h3>

  <ul class="events past_events">
    <%= render @events.past %>
  </ul>

<% if current_user %>
  <%= link_to "Back", current_user %>
<% else %>
  <%= link_to "Log in to manage events", login_path %>
<% end %>