<h1>Event Page: <%= @event.title %></h1>

<p>This event was created by <%= @event.organizer.email %>.</p>

<h3>Event information:</h3>

<ul>
  <li><b>Event title:</b> <%= @event.title %></li>
  <li><b>Event location:</b> <%= @event.location %></li>
  
  
</ul>
<h3>Event attendees:</h3>

<ul>

<div><% @attendee.each do |a| %> 
<li> <%= a.email %> </li>
<%end%>
</div>

</ul>


 <div>
 <div> <% if user_signed_in?  %>

 <div>
<% if @event.registered?(current_user)%>
<p>You have registered for this event</p>
</div> <%else%>
<p> Register for this event</p>
 <%= button_to 'Register', attendance_path(@event), method: 'put' %>
</div>
<%end%>
<%end%>
</div>
