<nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #eff6f1;">
  <%= link_to "Private Eevent", root_path, class:"nav-link text-dark"  %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
         <%= link_to "Home", root_path, class:"nav-link text-dark"  %>
      </li>
      
      <li class="nav-item">
        <%= link_to 'My events', user_path, class:"nav-link text-dark"%>
      </li>
    </ul>
    <span class="navbar-text">
     <ul class="navbar-nav  d-flex flex-row">
    <% if user_signed_in? %>
      <li class="nav-item active">
      
      </li>
      <li class="nav-item">
        <%= link_to 'Edit Profile ',  edit_user_registration_path, class:"nav-link text-dark"%> 
      </li>
      <li class="nav-item">
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"nav-link text-dark" %>
      </li>
      <% else %>
      <li>
          <%= link_to 'Sign up', new_user_registration_path, class:"nav-link text-dark"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign in', new_user_session_path, class:"nav-link text-dark"%>
      </li>
      
      
      
      <% end %>
      </ul>

    </span>
  </div>
</nav>